.piechart-responsive-container {
  position: relative; /* relative pour placer le texte "score" en absolute */
  margin-left: 31px;
  border-radius: 5px;
  background-color: rgba(251, 251, 251, 1);
}

.text-piechart {
  position: absolute; 
  left: 35px;
  top: 35px;
  font-size: 15; 
  font-weight: 500;
  color: rgba(32, 37, 58, 1);
}
