main {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  /* width: 100%; */
}

.bottom-graph-container {
  display: flex;
}

@media screen and (min-width: 1440px) {
  main {
    margin-left: 180px;
  }
}
