.keyinfo-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

@media screen and (min-width: 1440px) {
  .keyinfo-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 191px;
  margin-top: 42px;
  margin-right: 10px;
  right: 8%;
  }
}
