.banner-container {
  width: 100%;
  /* margin-left: 100px; */
}

.banner-container h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
}

.banner-container span {
  color: red;
}

.banner-container p {
  font-weight: 400;
  font-size: 18px;
}

@media screen and (min-width: 1440px) {
  .banner-container h1 {
    line-height: 58px;
  }
}
